body {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft Yahei','Arial';
	position: absolute;
	height: 100%;
	width: 100%;
}

.container {
  background-color: #ccc;
  width: 400px;
  height: 200px;
}

.center {
	position: relative;
	margin: auto;
	top: 50%;
	margin-top: -100px;
}

.circle {
	width: 50px;
	height: 50px;
	background-color: #fc0;
}

.left {
	border-radius: 0 0 50px 0;
	position: relative;
}

.right {
    border-radius: 50px 0 0 0;
    position: relative;
    margin-left: 350px;
    margin-top: 100px;
}