*{
    font-family: 'Microsoft YaHei';/*author:lbd*/
    margin: 0;/*author:lbd*/
    padding: 0;/*author:lbd*/
}

body,article,aside,section,div{
    box-sizing: border-box;/*author:lbd*/
}

header{
    padding:10px 15px;/*author:lbd*/
    position: relative;/*author:lbd*/
    width: 100%;/*author:lbd*/
    background-color: slategrey;/*author:lbd*/
    overflow: hidden; /* add by yaoleo */
    zoom: 1;
}

nav a:link    {color:black;}/*author:lbd*/
nav a:visited {color:blue;}/*author:lbd*/
nav a:hover   {color:red;}/*author:lbd*/
nav a:active  {color:yellow;}/*author:lbd*/
@media screen and (max-width: 959px) {/* 959? */

    header h1 {
        position: relative;/*author:lbd*/
        margin: 0 auto;/*author:lbd*/
        display: block;/*author:lbd*/
        text-align: center;/*author:lbd*/
    }
    header nav{
        text-align: center;/*author:lbd*/
        position: relative;/*author:lbd*/
        display: block;/*author:lbd*/
    }
}

@media screen and (min-width: 960px){
    header h1{
        position: relative;/*author:lbd*/
        margin: 20px 0;/*author:lbd*/
        width: 300px;/*author:lbd*/
        display: inline-block;/*author:lbd*/
    }
    header nav{
        position: relative;/*author:lbd*/
        float: right; /*author:lbd */
        margin: 30px 20px;/*author:lbd*/
        display: inline-block;/*author:lbd*/
    }
    nav a{
        margin-right: 15px;/*author:lbd*/
    }
}


/* author: yaoleo; */
body {
    background-color: #dedede;
}
ul,li{margin:0; padding:0}
.container {
    min-width: 820px;
}

article {
    display: block;
    padding: 20px;
    margin: 20px;
    margin-right: 500px;
    min-width: 300px;
    background-color: #fff;
}

aside {
    width: 460px;
    float: right;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
}

aside h3 {
    border-left: 3px solid gray;
    height: 40px;
    line-height: 40px;
}

.form-row {
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-row {
    overflow: hidden;
}
.form-row .left {
    float: left;
    text-align: right;
    width: 35%;
}

.form-row .right {
    float: left;
    width: 65%;
}
.form-row .right p{
    color: gray;
    font-size: 13px;
}
.form-row .center {
    margin: auto;
    width: 400px;
}
.form-row .button {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    background-color: #3355d0;
    color: #fff;
    font-size: 18px;
}
.form-row textarea {
    width: 70%;
    height: 80px;
}