*{
    box-sizing: border-box;
}
.container {
	width: 100%;
	padding: 10px;
}

.row:before, .row:after {
    content:"";
    display: table ;
    clear:both;
}

.row {
    zoom: 1; 
}

[class*='col-'] {
    padding: 10px;
	float: left;
	min-height: 1px; 
	width: 8.33%;
}
@media (min-width: 769px) {
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%; 
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-12{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%; 
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-12{
        width: 100%;
    }
}

/* 布局内部元素 */
.block {
	height: 50px;
	background-color: #eee;
	border: 1px solid #999; 
}
