img {
	width: 80px;
	height: 80px;
}

span {
	font-weight: bold;
	padding-left: 5px;
}

body {
	margin: 0;
	padding: 20px;
	font-family: 'Microsoft Yahei','Arial';
}

.container,.center,.left,.right{
	padding: 20px;
    box-sizing: border-box;
    border: 1px solid #999;
}

.container {
  position: relative;
  background-color: #eee;
  min-width: 600px;
  height: 580px; /* 无法解决高度包裹问题 强行填了一个。。。 */
}

.center,.left,.right {
	background-color: #fff;
}

.center {
	margin-left: 220px;
	margin-right: 140px;
	min-width: 200px;
}

.left {
	position: absolute;
	left: 20px;
	width: 200px;
}

.left img {
	float: left;
}

.right {
	position: absolute;
	padding: 20px 20px 0;
	right: 20px;
	width: 120px;
}

.right img {
	margin-bottom: 20px;
}